.calculator {
  width: 20%;
  aspect-ratio: 1 / 2;
  border-radius: 10px;
  background-color: black;
}

.brand-model {
  display: flex;
  justify-content: space-between;

  margin: 5%;
  margin-bottom: 0%;
}

.edition {
  display: flex;
  justify-content: end;
  margin-right: 5%;
  font-size: 60%;
}

.expression-display {
  display: flex;
  justify-content: start;
  
  height: 12.5%;
  margin: 5%;
  margin-top: 0%;
  padding: 0 2.5%;

  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 5px;
  background-color: #36ADA3;
  color: black;
}

.basic-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5%;

  margin: 5%;
}

.deletion-button {
  background-color: #598000;
  border: 0;
  border-radius: 2px;
}

.deletion-button:hover {
  background-color: green;
}